html, body {
	position: relative;
	width: 100%;
  height: 100%; 
}

input[type=number] {
  width: 200px;
}

input[type=number] {
  background-color: #ff6347cc;
  color: white;
}

input[type=number]:focus {
  background-color: tomato;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    padding: 0;
    overflow: hidden;
    width: 200px;
    -webkit-appearance: none;
    background-color: white;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    padding: 0;
    height: 30px;
    -webkit-appearance: none;
    color: #ff6347;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 30px;
    cursor: ew-resize;
    box-shadow: -200px 0 0 200px #ff6347;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ff6347; 
}
input[type="range"]::-ms-fill-lower {
  background-color: #ff6347; 
}

.full {
  letter-spacing: 0.5px;
  color: #ff6347;
}

.full a {
  text-decoration: underline;
}


@media(prefers-color-scheme: dark) {
  .full {
    color: #00ff99;
  }

  body,
  body * {
    background-color: rgb(24,24,24);
    color: white;
  }

  input[type=number] {
    background-color: #00ff99cc;
  }
  
  input[type=number]:focus {
    background-color: #00ff99;
  }

  input[type='range'] {
    background-color: rgb(24, 24, 24);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    color: #00ff99;
  }
  
  input[type='range']::-webkit-slider-thumb {
    box-shadow: -200px 0 0 200px #00ff99;
  }

  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #00ff99; 
  }
  input[type="range"]::-ms-fill-lower {
    background-color: #00ff99; 
  }
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
