<script>
  let number = 0
  let vh = 400
  let vw = 600
  let width = 400
  let height = 600
  let split = []

  $: {
    if (number) {
      const str = number.toString()
      split = []
      for (let i = 0; i < Math.min(str.length, 4); i++) {
        split.push(parseInt(str[i]))
      }
      split.reverse()
    }
  }
</script>

<svelte:window bind:innerHeight={vh} bind:innerWidth={vw} />

<main>
  <div style="width: {width}px; height: {height}px;" class="cistercian">
    <svg width={width} height={height}>
      <line id="baseline" class="visible" x1={width / 2} x2={width/2} y1={0} y2={height} />
      <!-- TOP RIGHT – 1s -->
      <line
        class:visible={split[0] === 1 || split[0] === 5 || split[0] === 7 || split[0] === 9}
        id="n-1"
        x1={width / 2}
        x2={width}
        y1={0}
        y2={0} />
      <line
        class:visible={split[0] === 2 || split[0] === 8 || split[0] === 9}
        id="n-2"
        x1={width / 2}
        x2={width}
        y1={height / 3}
        y2={height / 3} />
      <line
        class:visible={split[0] === 3}
        id="n-3"
        x1={width / 2}
        x2={width}
        y1={0}
        y2={height / 3} />
      <line
        class:visible={split[0] === 4 || split[0] === 5}
        id="n-4"
        x1={width / 2}
        x2={width}
        y1={height / 3}
        y2={0} />
      <line
        class:visible={split[0] === 6 || split[0] === 7 || split[0] === 8 || split[0] === 9}
        id="n-6"
        x1={width}
        x2={width}
        y1={height / 3}
        y2={0} />
      <!-- TOP LEFT - 10s -->
      <line
        class:visible={split[1] === 1 || split[1] === 5 || split[1] === 7 || split[1] === 9}
        id="n-10" x1={0} x2={width / 2} y1={0} y2={0} />
      <line
        class:visible={split[1] === 2 || split[1] === 8 || split[1] === 9}
        id="n-20" x1={0} x2={width / 2} y1={height / 3} y2={height / 3} />
      <line
        class:visible={split[1] === 3}
        id="n-30" x1={0} x2={width / 2} y2={0} y1={height / 3} />
      <line
        class:visible={split[1] === 4 || split[1] === 5}
        id="n-40" x1={0} x2={width / 2} y1={0} y2={height / 3} />
      <line
        class:visible={split[1] === 6 || split[1] === 7 || split[1] === 8 || split[1] === 9}
        id="n-60" x1={0} x2={0} y2={0} y1={height / 3} />
      <!-- BOTTOM RIGHT – 100s -->
      <line
        class:visible={split[2] === 1 || split[2] === 5 || split[2] === 7 || split[2] === 9}
        id="n-100" x1={width / 2} x2={width} y1={height} y2={height} />
      <line
        class:visible={split[2] === 2 || split[2] === 8 || split[2] === 9}
        id="n-200" x1={width / 2} x2={width} y1={height - (height / 3)} y2={height - (height / 3)} />
      <line
        class:visible={split[2] === 3}
        id="n-300" x1={width / 2} x2={width} y1={height} y2={height - (height / 3)} />
      <line
        class:visible={split[2] === 4 || split[2] === 5}
        id="n-400" x1={width / 2} x2={width} y1={height - (height / 3)} y2={height} />
      <line
        class:visible={split[2] === 6 || split[2] === 7 || split[2] === 8 || split[2] === 9}
        id="n-600" x1={width} x2={width} y1={height - (height / 3)} y2={height} />
      <!-- BOTTOM LEFT -->
      <line
        class:visible={split[3] === 1 || split[3] === 5 || split[3] === 7 || split[3] === 9}
        id="n-1000" x1={0} x2={width / 2} y1={height} y2={height} />
      <line
        class:visible={split[3] === 2 || split[3] === 8 || split[3] === 9}
        id="n-2000" x1={0} x2={width / 2} y1={height - (height / 3)} y2={height - (height / 3)} />
      <line
        class:visible={split[3] === 3}
        id="n-3000" x1={width / 2} x2={0} y1={height} y2={height - (height / 3)} />
      <line
        class:visible={split[3] === 4 || split[3] === 5}
        id="n-4000" x1={0} x2={width / 2} y1={height} y2={height - (height / 3)} />
      <line
        class:visible={split[3] === 6 || split[3] === 7 || split[3] === 8 || split[3] === 9}
        id="n-6000" x1={0} x2={0} y2={height} y1={height - (height / 3)} />
    </svg>
  </div>

  <section class="controls">
    <div class="input">
      <label for="number">
        Enter a cipher
      </label>
      <input name="number" type="number" min="1" max="9999" bind:value={number}>
    </div>

    <div class="input">
      <label for="width">
        Adjust width
      </label>
      <input type="range" bind:value={width} min={100} max={vw}>
    </div>

    <div class="input">
      <label for="height">
        Adjust height
      </label>
      <input type="range" bind:value={height} min={100} max={vh}>
    </div>
    {#if number > 9999 || number < 0}
    <div class="message">
      Out of range
    </div>
    {/if}
    <small class="full">Demo by <a href="https://manusnijhoff.nl">Manus Nijhoff</a>, inspired by <a target="_blank" href="https://twitter.com/MathematicsUCL/status/1356558846093914114?s=20">Mathematics UCL</a></small>
  </section>
</main>

<style>
svg {
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cistercian {
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.full {
  width: 100%;
}

.full * {
  color: inherit;
}

.controls * {
  text-align: center;
  margin-bottom: 20px;
  border: none;
}

.controls *:focus {
  outline: none;
}

.input {
  width: 200px;
  padding: 0 20px;
}

line {
  transition: all 0.2s;
  stroke: transparent;
  stroke-width: 12;
}

@media (prefers-color-scheme: dark) {
  line.visible {
    stroke: #00ff99;
  }
}

@media (prefers-color-scheme: light) {
  line.visible {
    stroke: tomato;
  }
}

</style>